<div>
  <h2 id="page-heading" data-cy="MinistradaHeading">
    <span jhiTranslate="sistemaEscolarApp.ministrada.home.title">Ministradas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sistemaEscolarApp.ministrada.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ministrada"
        [routerLink]="['/ministrada/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sistemaEscolarApp.ministrada.home.createLabel"> Create a new Ministrada </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ministradas?.length === 0">
    <span jhiTranslate="sistemaEscolarApp.ministrada.home.notFound">No ministradas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ministradas && ministradas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sistemaEscolarApp.ministrada.ano">Ano</span></th>
          <th scope="col"><span jhiTranslate="sistemaEscolarApp.ministrada.ch">Ch</span></th>
          <th scope="col"><span jhiTranslate="sistemaEscolarApp.ministrada.disciplina">Disciplina</span></th>
          <th scope="col"><span jhiTranslate="sistemaEscolarApp.ministrada.docente">Docente</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ministrada of ministradas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ministrada', ministrada.id, 'view']">{{ ministrada.id }}</a>
          </td>
          <td>{{ ministrada.ano | formatMediumDate }}</td>
          <td>{{ ministrada.ch }}</td>
          <td>
            <div *ngIf="ministrada.disciplina">
              <a [routerLink]="['/disciplina', ministrada.disciplina?.id, 'view']">{{ ministrada.disciplina?.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ministrada.docente">
              <a [routerLink]="['/docente', ministrada.docente?.id, 'view']">{{ ministrada.docente?.nome }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ministrada', ministrada.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ministrada', ministrada.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ministrada)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
